<div id="container" class="h-full w-full flex justify-center items-center">
  <div class="card bg-base-100 w-96 shadow-xl">
    <figure>
      <img
        class="max-w-full max-h-full font-primary bg-gradient-to-br from-primary to-secondary"
        src="./assets/logo.svg"
        alt="Logo" />
    </figure>
    <div class="card-body justify-center items-center">
      <h2 class="p-4 justify-center items-center">
        <span class="font-league-spartan font-bold text-3xl">LOGIN</span>
      </h2>
      <div>
          <!-- TODO: Add Login Forms For Google, Facebook, Microsoft, LinkedIn, Twitter, GitHub, Apple -->
      </div>
    </div>
  </div>
</div>

