<div id="container" class="h-full w-full flex justify-center items-center">
  <div class="card bg-base-100 w-96 shadow-xl">
    <figure>
      <img
        class="max-w-full max-h-full font-primary bg-gradient-to-br from-primary to-secondary"
        src="./assets/logo.svg"
        alt="Logo" />
    </figure>
    <div class="card-body justify-center items-center">
      <h2 class="p-4 justify-center items-center">
        <span class="font-league-spartan font-bold text-3xl">Create An Account</span>
      </h2>
      <form (ngSubmit)="register()">
        <div class="flex flex-col gap-2">
          <label class="input input-bordered flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor"
                 class="h-4 w-4 opacity-70">
              <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
            </svg>
            <input type="text" class="grow" placeholder="Username" [(ngModel)]="username" name="username" autocomplete="username" required />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70">
              <path
                d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
              <path
                d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
            </svg>
            <input type="email" class="grow" placeholder="Email" [(ngModel)]="email" name="email" autocomplete="email" required />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70">
              <path
                fill-rule="evenodd"
                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                clip-rule="evenodd" />
            </svg>
            <input type="password" class="grow" placeholder="Password" [(ngModel)]="password" name="password" autocomplete="current-password" required />
          </label>
        </div>
        <div class="py-2 flex gap-4 justify-center">
          <button type="button" class="btn w-20 btn-active btn-primary flex flex-row" (click)="navigateToLogin()">
            <span class="material-symbols-outlined">keyboard_return</span>
          </button>
          <button type="submit" class="btn w-20 btn-active btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
