<div class="fixed inset-0 flex justify-center items-start pt-20 z-10">
  <div class="absolute inset-0 bg-gray-900 bg-opacity-50 backdrop-blur-sm overflow-hidden"></div>
  <div class="bg-base-100 p-6 rounded-lg shadow-lg max-w-4xl w-full mx-4 relative overflow-y-scroll h-[95%]" (click)="$event.stopPropagation()">
    <button class="btn btn-circle btn-sm absolute top-2 right-2" (click)="closeDetails()">✕</button>
    <div class="flex flex-col md:flex-row gap-4">
      <img [src]="song?.imageUrl" alt="{{ song?.title }} Cover" class="w-32 h-32 md:w-48 md:h-48 object-cover rounded-lg">
      <div class="flex flex-col justify-between">
        <div>
          <h2 class="text-2xl font-bold">{{ song?.title }}</h2>
          <p class="text-gray-500">by {{ song?.artist }}</p>
        </div>
        <div class="mt-4">
          <p><strong>Release Date:</strong> {{ song?.releaseDate }}</p>
          <p><strong>Page Views:</strong> {{ song?.pageViews | number }}</p>
          <p><strong>Description:</strong> {{ song?.description }}</p>
        </div>
        <div class="mt-4 flex flex-wrap gap-2">
          <a *ngFor="let link of song?.externalLinks" [href]="link.url" target="_blank" class="btn btn-sm btn-outline">
            <img [src]="getProviderIcon(link.provider)" [alt]="link.provider + ' icon'" class="h-6 w-6">
            {{ link.provider | titlecase }}
          </a>
        </div>

      </div>
    </div>
    <div class="mt-6">
      <h3 class="text-xl font-bold">Sentiment Analysis</h3>
      <p><strong>Mood:</strong> {{ song?.sentiment?.sentiment_analysis?.overall_mood || 'N/A' }}</p>
      <p><strong>Moods:</strong> {{ (song?.sentiment?.sentiment_analysis?.moods ?? []).join(', ') }}</p>
      <p><strong>Theme:</strong> {{ song?.sentiment?.sentiment_analysis?.analysis?.theme || 'N/A' }}</p>
      <p><strong>Tone:</strong> {{ song?.sentiment?.sentiment_analysis?.analysis?.tone || 'N/A' }}</p>
      <p><strong>Narrative:</strong> {{ song?.sentiment?.sentiment_analysis?.analysis?.narrative || 'N/A' }}</p>

    </div>

  </div>
</div>
