<div class="container mx-auto p-6 h-full w-full">
  <header class="text-center">
    <h1 class="text-5xl font-bold mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">Melodify</h1>
    <p class="text-3xl bg-gradient-to-l from-primary to-secondary bg-clip-text text-transparent">Discover & Analyze Music</p>
  </header>

  <section class="mt-8">
      <app-search (songSelected)="onSongSelected($event)"></app-search>
  </section>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center z-50 bg-gray-900 bg-opacity-50">
    <span class="loading loading-spinner loading-lg"></span>
  </div>

  <!-- Current Top 50 Songs -->
  <section class="mt-2">
    <app-top-songs></app-top-songs>
  </section>

  <!-- Song Details Modal -->
  <app-song-details
    *ngIf="selectedSong"
    [song]="selectedSong"
    (viewArtist)="onArtistSelected($event)"
    (close)="closeSongDetails()">
  </app-song-details>

  <!-- Artist Details Modal -->
  <app-artist-details
    *ngIf="selectedArtist"
    [artist]="selectedArtist"
    [topSongs]="topSongs"
    (close)="closeArtistDetails()"
    (songSelected)="onSongSelected($event)">
  </app-artist-details>

  <footer class="mt-8 text-center">
    <p>© 2024 Melodify. All rights reserved.</p>
  </footer>
</div>
