<div class="container mx-auto p-6">
  <header class="text-center">
    <h1 class="text-5xl font-bold mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">Melodify</h1>
    <p class="text-3xl bg-gradient-to-l from-primary to-secondary bg-clip-text text-transparent">Discover & Analyze Music</p>
  </header>

  <section class="mt-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Connected Accounts -->
      <div class="bg-base-100 p-4 rounded shadow flex flex-row justify-around items-center">
        <h1 class="text-lg">Connected Accounts:</h1>
        <ul class="flex flex-row gap-2 flex-wrap">
          <li>None</li>
          <li>Spotify</li>
          <li>Apple Music</li>
        </ul>
      </div>
      <!-- Search -->
      <div class="bg-base-100 p-4 rounded shadow">
        <h3 class="text-2xl font-bold mb-2">Search For Music</h3>
        <label class="input input-bordered flex items-center gap-2">
          <input type="text" class="grow" placeholder="Search" />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70">
            <path
              fill-rule="evenodd"
              d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
              clip-rule="evenodd" />
          </svg>
        </label>
      </div>
    </div>
  </section>

  <!-- Current Top 50 Songs -->
  <section class="mt-4 h-full w-full">
    <h3 class="text-2xl font-bold mb-2">Current Top 50 - USA</h3>
    <app-top-songs></app-top-songs>
  </section>

  <footer class="mt-8 text-center">
    <p>© 2024 Melodify. All rights reserved.</p>
  </footer>
</div>
