<div class="swiper-container overflow-hidden w-full h-full">
  <div class="swiper-wrapper flex h-full w-full">
    <div *ngFor="let song of topSongs; let i = index" class="swiper-slide flex justify-center items-center h-full w-full">
      <div class="card card-compact bg-base-100 shadow-xl w-80 h-[32rem] flex flex-col">
        <figure class="">
          <img [src]="song.image" [alt]="song.name" class="w-full h-full object-cover" />
        </figure>
        <div class="card-body flex flex-col items-center justify-center flex-1">
          <h2 class="card-title text-lg font-bold text-center">{{ song.name }}</h2>
          <p class="text-lg text-center">{{ song.artist }}</p>
          <p class="text-lg">#{{ i + 1 }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
