<div class="fixed inset-0 flex justify-center items-start pt-20 z-10">
  <div class="absolute inset-0 bg-gray-900 bg-opacity-50 backdrop-blur-sm overflow-hidden"></div>
  <div class="bg-base-100 p-6 rounded-lg shadow-lg max-w-4xl w-full mx-4 relative overflow-y-scroll h-[95%]" (click)="$event.stopPropagation()">
    <button class="btn btn-circle btn-sm btn-error absolute top-2 right-2" (click)="closeDetails()">X</button>
    <div class="flex flex-col md:flex-row gap-4" *ngIf="!isLoading && artist">
      <img [src]="artist.imageUrl" alt="{{ artist.name }} Image" class="w-32 h-32 md:w-48 md:h-48 object-cover rounded-lg">
      <div class="flex flex-col justify-between">
        <div>
          <h2 class="text-2xl font-bold">{{ artist.name }}</h2>
        </div>
        <div class="mt-4 flex flex-wrap gap-2">
          <a *ngIf="artist.twitterName" [href]="'https://twitter.com/' + artist.twitterName" target="_blank"
             class="btn btn-sm btn-outline flex items-center"
             [ngStyle]="{'border-color': getSocialMediaColor('twitter'), 'color': getSocialMediaColor('twitter')}">
            <img [src]="getSocialMediaIcon('twitter')" alt="Twitter icon" class="h-6 w-6 mr-2">
            Twitter
          </a>
          <a *ngIf="artist.facebookName" [href]="'https://facebook.com/' + artist.facebookName" target="_blank"
             class="btn btn-sm btn-outline flex items-center"
             [ngStyle]="{'border-color': getSocialMediaColor('facebook'), 'color': getSocialMediaColor('facebook')}">
            <img [src]="getSocialMediaIcon('facebook')" alt="Facebook icon" class="h-6 w-6 mr-2">
            Facebook
          </a>
          <a *ngIf="artist.instagramName" [href]="'https://instagram.com/' + artist.instagramName" target="_blank"
             class="btn btn-sm btn-outline flex items-center"
             [ngStyle]="{'border-color': getSocialMediaColor('instagram'), 'color': getSocialMediaColor('instagram')}">
            <img [src]="getSocialMediaIcon('instagram')" alt="Instagram icon" class="h-6 w-6 mr-2">
            Instagram
          </a>
        </div>
        <div class="mt-4">
          <p><strong>Description:</strong>
            <span *ngIf="!isDescriptionExpanded">
              {{ artist.description | slice:0:175 }}...
              <a class="btn btn-xs btn-wide btn-accent" href="#" (click)="toggleDescription(); $event.preventDefault()">Expand</a>
            </span>
            <span *ngIf="isDescriptionExpanded">
              {{ artist.description }}
              <a class="btn btn-xs btn-wide btn-accent" href="#" (click)="toggleDescription(); $event.preventDefault()">Collapse</a>
            </span>
          </p>
        </div>
      </div>
    </div>
    <hr class="my-6">
    <div class="mt-6 flex flex-col gap-2" *ngIf="!isLoading">
      <h3 class="text-2xl font-bold">Top 10 Songs</h3>
      <ul>
        <li *ngFor="let song of topSongs" class="flex items-center gap-2 my-2 hover:bg-base-300 hover:cursor-pointer" (click)="viewSongDetails(song.id)">
          <img [src]="song.imageUrl" alt="{{ song.fullTitle }} Thumbnail" class="w-10 h-10 rounded-lg">
          <div>
            <p>{{ song.fullTitle }}</p>
            <p class="text-gray-500">{{ song.releaseDate }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
