<div class="w-full h-full">
  <div class="w-full h-full p-4 flex justify-center items-center flex-col">
    <div *ngIf="user" class="card shadow-lg mb-4 bg-base-100 w-full max-w-lg">
      <div class="card-body flex justify-center items-center">
        <div class="">
          <div class="flex flex-row gap-2 mb-2">
            <span class="material-symbols-rounded text-accent">person</span>
            <h1 class="text-xl font-semibold">{{ user.username }}</h1>
          </div>
          <div class="flex flex-row gap-2 mb-2">
            <span class="material-symbols-rounded text-accent">mail</span>
            <h1 class="text-md font-semibold">Email: {{ user.email }}</h1>
          </div>
          <div class="flex flex-row gap-2 mb-2">
            <span class="material-symbols-rounded text-accent">shield_person</span>
            <h1 class="text-md font-semibold">Role: {{ user.role }}</h1>
          </div>
        </div>
      </div>
      <hr class="my-0">
      <div class="card-body flex justify-center items-center">
        <h3 class="text-lg font-medium mt-4">Connected Accounts</h3>
        <ul class="flex space-x-2">
          <li *ngFor="let account of user.connectedAccounts" class="tooltip" [attr.data-tip]="account.provider">
            <img [src]="getProviderIcon(account.provider)" alt="{{ account.provider }}" class="h-6 w-6">
          </li>
        </ul>
      </div>
    </div>

    <div class="card shadow-lg mb-4 bg-base-100 w-full max-w-lg">
      <div class="card-body flex justify-around">
        <div class="flex w-full">
          <div class="card rounded-box grid h-20 flex-grow place-items-center">
            <div>
              <a class="btn btn-primary" routerLink="/favorite-songs">View Favorite Songs</a>
            </div>
          </div>
          <div class="divider divider-horizontal">OR</div>
          <div class="card rounded-box grid h-20 flex-grow place-items-center">
            <div>
              <a class="btn btn-primary" routerLink="/disliked-songs">View Disliked Songs</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex gap-2 mt-4 bg-base-200 p-4 rounded-lg flex-wrap justify-center">
      <div class="tooltip" [attr.data-tip]="isProviderDisabled('spotify') ? 'Already connected' : 'Login with Spotify'">
        <button class="btn w-56"
                [ngClass]="{'opacity-50 cursor-not-allowed': isProviderDisabled('spotify')}"
                [ngStyle]="{'background-color': getProviderColor('spotify'), 'color': '#fff'}"
                (click)="!isProviderDisabled('spotify') && loginWithSpotify()">
          Login with Spotify
        </button>
      </div>
      <div class="tooltip" data-tip="Feature not available yet.">
        <button class="btn w-56" [ngStyle]="{'background-color': getProviderColor('Apple Music'), 'color': '#fff'}" disabled>
          Login with Apple Music
        </button>
      </div>
      <div class="tooltip" data-tip="Feature not available yet.">
        <button class="btn w-56" [ngStyle]="{'background-color': getProviderColor('soundcloud'), 'color': '#fff'}" disabled>
          Login with SoundCloud
        </button>
      </div>
    </div>


  </div>
</div>
