<div>
  <button class="btn btn-active btn-primary" type="button" (click)="loginWithSpotify()">Login with Spotify</button>
  <button class="btn btn-disabled btn-active btn-primary" type="button" (click)="loginWithAppleMusic()">Login with Apple Music</button>
  <button class="btn btn-disabled btn-active btn-primary" type="button" (click)="loginWithSoundCloud()">Login with SoundCloud</button>
  <button class="btn btn-active btn-primary" type="button" (click)="navToPlaylists()">Playlists</button>
</div>
